header {
  height: 8rem;
  margin: 1.2rem 0;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1024px) {
  .btn-nav__open {
    display: none;
  }

  header {
    margin: 0 0;
  }

  .container-nav {
    height: 100%;
  }
}
