.modal-details__description {
  border-bottom: 1px solid #f9f8f6;
  padding-bottom: 1.2rem;
}
.modal-product__details {
  padding: 1.2rem 2.4rem;
}

.modal-product__subheading {
  font-size: 1.8rem;
  line-height: 1.67;
  margin-bottom: 0.4rem;
  color: #000;
  font-weight: 600;
}

.modal-description__text {
  font-size: 1.6rem;
  line-height: 1.25;
  color: #666;
}
