.modal-details__selector {
  margin-bottom: 2.4rem;
}

.modal-selector__title {
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
}

.modal-selector__box,
.btn-select span,
.modal-selector__comment {
  font-family: "Montserrat", sans-serif;
}
.modal-selector__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.modal-selector__box label {
  font-size: 1.2rem;
}

.modal-selector__radios {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btn-select.select-active {
  background-color: #f3f3f3;
  border: 1px solid #dedede;
}

.input-select {
  border: none;
  opacity: 0;
}

.btn-select,
.input-select {
  height: 4rem;
  width: 5rem;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  cursor: pointer;

  transition: all 0.1s;
}

.btn-select {
  position: relative;
}

.btn-select span {
  font-size: 1.4rem;
  color: #515356;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-selector__comment {
  font-size: 1.2rem;
  color: #666;
}
