.product {
  width: 100%;
  cursor: pointer;
}

.product:hover img {
  opacity: 0.7;
  transition: all 0.2s;
}

.product:hover button {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
