.hidden {
  display: none;
}

.list-right {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.list-right li a, .list-right li button {
  font-size: 1.4rem;
}

.btn-nav__right:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .hidden {
    display: inline-block;
  }

  .list-right {
    gap: 2.4rem;
  }
}
