/* here you will find the main rules for the whole app */
/*! this file styles will be applied on every element  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

/* font-family: 'VL NewParis Headline', sans-serif; */

@font-face {
  font-family: "VL NewParis Headline";
  src: url("./fonts/VL_NewParis\ Headline\ Regular.otf");
}

:root {
  --main-color: #33333a;
  --text-modal: #030303;
  --label-color: #ff6008;
  --white-color: #fff;
  --gray-1: #dedede;
  --gray-2: #d8d8d8;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


a,
a:link,
a:visited,
a:hover,
a:active {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
}

span {
  display: inline-block;
}

button {
  display: inline-block;
  background: none;
  border: none;
}

ul {
  list-style: none;
}
